<?xml version="1.0" encoding="utf-8"?>
<menu>
   <platillo>
      <nombre> coca cola </nombre>
	 <tipo>bebida</tipo>
      <codigo> BEB001 </codigo>
      <tamPorcion>600 ml</tamPorcion>
      <piezasPorPorcion>1 </piezasPorPorcion>
      <caloriasPorPorcion> 520 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 520 kcal </caloriasPorPieza>
      <precio> 3100 Colones </precio>
      <DetalleDescripcion> Bebida carbonatada que mata lentamente </DetalleDescripcion>
<disponible>true</disponible>
   </platillo>
   <platillo>
      <nombre> Ceviche </nombre>
      <tipo>entrada</tipo>
      <codigo> ENT001 </codigo>
      <tamPorcion>400</tamPorcion>
      <piezasPorPorcion> 2 </piezasPorPorcion>
      <caloriasPorPorcion> 410 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 205 kcal </caloriasPorPieza>
      <precio> 4000 Colones </precio>
      <DetalleDescripcion>Cevichito de la casa, preparado con mariscos frescos y nuestra salsa especial</DetalleDescripcion>
<disponible>true</disponible>
   </platillo>
<platillo>
      <nombre> carne en salsa </nombre>
	 <tipo>platofuerte</tipo>
      <codigo> PRN001 </codigo>
      <tamPorcion>400</tamPorcion>
      <piezasPorPorcion> 1 </piezasPorPorcion>
      <caloriasPorPorcion> 610 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 610 kcal </caloriasPorPieza>
      <precio> 5000 Colones </precio>
      <DetalleDescripcion>carne en salsacarne en salsacarne en salsacarne en salsa</DetalleDescripcion>
<disponible>true</disponible>
   </platillo>
<platillo>
      <nombre> gelatina </nombre>
      <tipo>postre</tipo>      
	 <codigo> POS001 </codigo>
      <tamPorcion>400</tamPorcion>
      <piezasPorPorcion> 1 </piezasPorPorcion>
      <caloriasPorPorcion> 1000 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 1000 kcal </caloriasPorPieza>
      <precio> 1500 Colones </precio>
      <DetalleDescripcion>gelatina gelatina gelatina gelatina gelatina gelatina </DetalleDescripcion>
<disponible>true</disponible>
   </platillo>
<platillo>
      <nombre> Burrito </nombre>
      <tipo>platofuerte</tipo>      
	 <codigo> PRN002 </codigo>
      <tamPorcion>500</tamPorcion>
      <piezasPorPorcion> 2 </piezasPorPorcion>
      <caloriasPorPorcion> 800 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 400 kcal </caloriasPorPieza>
      <precio> 2150 Colones </precio>
      <DetalleDescripcion>Burriton con frijoles molidos, aguacate, huevo revuelto, jamon, queso, lechuga, tomate y salsa lisano </DetalleDescripcion>
<disponible>true</disponible>
   </platillo>
<platillo>
      <nombre> coca cola </nombre>
	 <tipo>bebida</tipo>
      <codigo> BEB001 </codigo>
      <tamPorcion>600 ml</tamPorcion>
      <piezasPorPorcion>1 </piezasPorPorcion>
      <caloriasPorPorcion> 520 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 520 kcal </caloriasPorPieza>
      <precio> 3100 Colones </precio>
      <DetalleDescripcion> Bebida carbonatada que mata lentamente </DetalleDescripcion>
<disponible>true</disponible>
   </platillo>
   <platillo>
      <nombre> Ceviche </nombre>
      <tipo>entrada</tipo>
      <codigo> ENT001 </codigo>
      <tamPorcion>400</tamPorcion>
      <piezasPorPorcion> 2 </piezasPorPorcion>
      <caloriasPorPorcion> 410 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 205 kcal </caloriasPorPieza>
      <precio> 4000 Colones </precio>
      <DetalleDescripcion>Cevichito de la casa, preparado con mariscos frescos y nuestra salsa especial</DetalleDescripcion>
<disponible>true</disponible>
   </platillo>
<platillo>
      <nombre> carne en salsa </nombre>
	 <tipo>platofuerte</tipo>
      <codigo> PRN001 </codigo>
      <tamPorcion>400</tamPorcion>
      <piezasPorPorcion> 1 </piezasPorPorcion>
      <caloriasPorPorcion> 610 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 610 kcal </caloriasPorPieza>
      <precio> 5000 Colones </precio>
      <DetalleDescripcion>carne en salsacarne en salsacarne en salsacarne en salsa</DetalleDescripcion>
<disponible>true</disponible>
   </platillo>
<platillo>
      <nombre> gelatina </nombre>
      <tipo>postre</tipo>      
	 <codigo> POS001 </codigo>
      <tamPorcion>400</tamPorcion>
      <piezasPorPorcion> 1 </piezasPorPorcion>
      <caloriasPorPorcion> 1000 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 1000 kcal </caloriasPorPieza>
      <precio> 1500 Colones </precio>
      <DetalleDescripcion>gelatina gelatina gelatina gelatina gelatina gelatina </DetalleDescripcion>
<disponible>true</disponible>
   </platillo>
<platillo>
      <nombre> Burrito </nombre>
      <tipo>platofuerte</tipo>      
	 <codigo> PRN002 </codigo>
      <tamPorcion>500</tamPorcion>
      <piezasPorPorcion> 2 </piezasPorPorcion>
      <caloriasPorPorcion> 800 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 400 kcal </caloriasPorPieza>
      <precio> 2150 Colones </precio>
      <DetalleDescripcion>Burriton con frijoles molidos, aguacate, huevo revuelto, jamon, queso, lechuga, tomate y salsa lisano </DetalleDescripcion>
<disponible>true</disponible>
   </platillo>
<platillo>
      <nombre> coca cola </nombre>
	 <tipo>bebida</tipo>
      <codigo> BEB001 </codigo>
      <tamPorcion>600 ml</tamPorcion>
      <piezasPorPorcion>1 </piezasPorPorcion>
      <caloriasPorPorcion> 520 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 520 kcal </caloriasPorPieza>
      <precio> 3100 Colones </precio>
      <DetalleDescripcion> Bebida carbonatada que mata lentamente </DetalleDescripcion>
<disponible>true</disponible>
   </platillo>
   <platillo>
      <nombre> Ceviche </nombre>
      <tipo>entrada</tipo>
      <codigo> ENT001 </codigo>
      <tamPorcion>400</tamPorcion>
      <piezasPorPorcion> 2 </piezasPorPorcion>
      <caloriasPorPorcion> 410 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 205 kcal </caloriasPorPieza>
      <precio> 4000 Colones </precio>
      <DetalleDescripcion>Cevichito de la casa, preparado con mariscos frescos y nuestra salsa especial</DetalleDescripcion>
<disponible>true</disponible>
   </platillo>
<platillo>
      <nombre> carne en salsa </nombre>
	 <tipo>platofuerte</tipo>
      <codigo> PRN001 </codigo>
      <tamPorcion>400</tamPorcion>
      <piezasPorPorcion> 1 </piezasPorPorcion>
      <caloriasPorPorcion> 610 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 610 kcal </caloriasPorPieza>
      <precio> 5000 Colones </precio>
      <DetalleDescripcion>carne en salsacarne en salsacarne en salsacarne en salsa</DetalleDescripcion>
<disponible>true</disponible>
   </platillo>
<platillo>
      <nombre> gelatina </nombre>
      <tipo>postre</tipo>      
	 <codigo> POS001 </codigo>
      <tamPorcion>400</tamPorcion>
      <piezasPorPorcion> 1 </piezasPorPorcion>
      <caloriasPorPorcion> 1000 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 1000 kcal </caloriasPorPieza>
      <precio> 1500 Colones </precio>
      <DetalleDescripcion>gelatina gelatina gelatina gelatina gelatina gelatina </DetalleDescripcion>
<disponible>true</disponible>
   </platillo>
<platillo>
      <nombre> Burrito </nombre>
      <tipo>platofuerte</tipo>      
	 <codigo> PRN002 </codigo>
      <tamPorcion>500</tamPorcion>
      <piezasPorPorcion> 2 </piezasPorPorcion>
      <caloriasPorPorcion> 800 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 400 kcal </caloriasPorPieza>
      <precio> 2150 Colones </precio>
      <DetalleDescripcion>Burriton con frijoles molidos, aguacate, huevo revuelto, jamon, queso, lechuga, tomate y salsa lisano </DetalleDescripcion>
<disponible>true</disponible>
   </platillo>
<platillo>
      <nombre> coca cola </nombre>
	 <tipo>bebida</tipo>
      <codigo> BEB001 </codigo>
      <tamPorcion>600 ml</tamPorcion>
      <piezasPorPorcion>1 </piezasPorPorcion>
      <caloriasPorPorcion> 520 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 520 kcal </caloriasPorPieza>
      <precio> 3100 Colones </precio>
      <DetalleDescripcion> Bebida carbonatada que mata lentamente </DetalleDescripcion>
<disponible>true</disponible>
   </platillo>
   <platillo>
      <nombre> Ceviche </nombre>
      <tipo>entrada</tipo>
      <codigo> ENT001 </codigo>
      <tamPorcion>400</tamPorcion>
      <piezasPorPorcion> 2 </piezasPorPorcion>
      <caloriasPorPorcion> 410 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 205 kcal </caloriasPorPieza>
      <precio> 4000 Colones </precio>
      <DetalleDescripcion>Cevichito de la casa, preparado con mariscos frescos y nuestra salsa especial</DetalleDescripcion>
<disponible>true</disponible>
   </platillo>
<platillo>
      <nombre> carne en salsa </nombre>
	 <tipo>platofuerte</tipo>
      <codigo> PRN001 </codigo>
      <tamPorcion>400</tamPorcion>
      <piezasPorPorcion> 1 </piezasPorPorcion>
      <caloriasPorPorcion> 610 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 610 kcal </caloriasPorPieza>
      <precio> 5000 Colones </precio>
      <DetalleDescripcion>carne en salsacarne en salsacarne en salsacarne en salsa</DetalleDescripcion>
<disponible>true</disponible>
   </platillo>
<platillo>
      <nombre> gelatina </nombre>
      <tipo>postre</tipo>      
	 <codigo> POS001 </codigo>
      <tamPorcion>400</tamPorcion>
      <piezasPorPorcion> 1 </piezasPorPorcion>
      <caloriasPorPorcion> 1000 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 1000 kcal </caloriasPorPieza>
      <precio> 1500 Colones </precio>
      <DetalleDescripcion>gelatina gelatina gelatina gelatina gelatina gelatina </DetalleDescripcion>
<disponible>true</disponible>
   </platillo>
<platillo>
      <nombre> Burrito </nombre>
      <tipo>platofuerte</tipo>      
	 <codigo> PRN002 </codigo>
      <tamPorcion>500</tamPorcion>
      <piezasPorPorcion> 2 </piezasPorPorcion>
      <caloriasPorPorcion> 800 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 400 kcal </caloriasPorPieza>
      <precio> 2150 Colones </precio>
      <DetalleDescripcion>Burriton con frijoles molidos, aguacate, huevo revuelto, jamon, queso, lechuga, tomate y salsa lisano </DetalleDescripcion>
<disponible>true</disponible>
   </platillo>
<platillo>
      <nombre> coca cola </nombre>
	 <tipo>bebida</tipo>
      <codigo> BEB001 </codigo>
      <tamPorcion>600 ml</tamPorcion>
      <piezasPorPorcion>1 </piezasPorPorcion>
      <caloriasPorPorcion> 520 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 520 kcal </caloriasPorPieza>
      <precio> 3100 Colones </precio>
      <DetalleDescripcion> Bebida carbonatada que mata lentamente </DetalleDescripcion>
<disponible>true</disponible>
   </platillo>
   <platillo>
      <nombre> Ceviche </nombre>
      <tipo>entrada</tipo>
      <codigo> ENT001 </codigo>
      <tamPorcion>400</tamPorcion>
      <piezasPorPorcion> 2 </piezasPorPorcion>
      <caloriasPorPorcion> 410 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 205 kcal </caloriasPorPieza>
      <precio> 4000 Colones </precio>
      <DetalleDescripcion>Cevichito de la casa, preparado con mariscos frescos y nuestra salsa especial</DetalleDescripcion>
<disponible>true</disponible>
   </platillo>
<platillo>
      <nombre> carne en salsa </nombre>
	 <tipo>platofuerte</tipo>
      <codigo> PRN001 </codigo>
      <tamPorcion>400</tamPorcion>
      <piezasPorPorcion> 1 </piezasPorPorcion>
      <caloriasPorPorcion> 610 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 610 kcal </caloriasPorPieza>
      <precio> 5000 Colones </precio>
      <DetalleDescripcion>carne en salsacarne en salsacarne en salsacarne en salsa</DetalleDescripcion>
<disponible>true</disponible>
   </platillo>
<platillo>
      <nombre> gelatina </nombre>
      <tipo>postre</tipo>      
	 <codigo> POS001 </codigo>
      <tamPorcion>400</tamPorcion>
      <piezasPorPorcion> 1 </piezasPorPorcion>
      <caloriasPorPorcion> 1000 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 1000 kcal </caloriasPorPieza>
      <precio> 1500 Colones </precio>
      <DetalleDescripcion>gelatina gelatina gelatina gelatina gelatina gelatina </DetalleDescripcion>
<disponible>true</disponible>
   </platillo>
<platillo>
      <nombre> Burrito </nombre>
      <tipo>platofuerte</tipo>      
	 <codigo> PRN002 </codigo>
      <tamPorcion>500</tamPorcion>
      <piezasPorPorcion> 2 </piezasPorPorcion>
      <caloriasPorPorcion> 800 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 400 kcal </caloriasPorPieza>
      <precio> 2150 Colones </precio>
      <DetalleDescripcion>Burriton con frijoles molidos, aguacate, huevo revuelto, jamon, queso, lechuga, tomate y salsa lisano </DetalleDescripcion>
<disponible>true</disponible>
   </platillo>


</menu>