<?xml version="1.0" encoding="utf-8"?>
<menu>
   <platillo>
      <nombre> coca cola </nombre>
      <tipo>bebida</tipo>
	<vecesP>1</vecesP>
      <codigo> BEB001 </codigo>
      <tamPorcion>600 ml</tamPorcion>
      <piezasPorPorcion>1 </piezasPorPorcion>
      <caloriasPorPorcion> 520 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 520 kcal </caloriasPorPieza>
      <precio> 3100 Colones </precio>
      <DetalleDescripcion> Bebida carbonatada que mata lentamente </DetalleDescripcion>
   </platillo>
   <platillo>
      <nombre> Ceviche </nombre>
      <tipo>entrada</tipo>
	<vecesP>1</vecesP>
      <codigo> ENT001 </codigo>
      <tamPorcion>400</tamPorcion>
      <piezasPorPorcion> 2 </piezasPorPorcion>
      <caloriasPorPorcion> 410 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 205 kcal </caloriasPorPieza>
      <precio> 4000 Colones </precio>
      <DetalleDescripcion>Cevichito de la casa, preparado con mariscos frescos y nuestra salsa especial</DetalleDescripcion>
   </platillo>
   <platillo>
      <nombre> Carne en salsa </nombre>
      <tipo>platofuerte</tipo>
	<vecesP>1</vecesP>
      <codigo> PLA001 </codigo>
      <tamPorcion>400</tamPorcion>
      <piezasPorPorcion> 2 </piezasPorPorcion>
      <caloriasPorPorcion> 410 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 205 kcal </caloriasPorPieza>
      <precio> 4000 Colones </precio>
      <DetalleDescripcion>CarneCarneCarneCarneCarneCarneCarne</DetalleDescripcion>
   </platillo>
   <platillo>
      <nombre> gelatina </nombre>
      <tipo>postre</tipo>
	<vecesP>1</vecesP>
      <codigo> POS001 </codigo>
      <tamPorcion>400</tamPorcion>
      <piezasPorPorcion> 2 </piezasPorPorcion>
      <caloriasPorPorcion> 410 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 205 kcal </caloriasPorPieza>
      <precio> 4000 Colones </precio>
      <DetalleDescripcion>postrepostrepostrepostrepostre</DetalleDescripcion>
   </platillo>
</menu>