<?xml version="1.0" encoding="utf-8"?>
<menu>
   <platillo>
      <nombre> coca cola </nombre>
      <codigo> BEB001 </codigo>
      <tamPorcion>600 ml</tamPorcion>
      <piezasPorPorcion>1 </piezasPorPorcion>
      <caloriasPorPorcion> 520 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 520 kcal </caloriasPorPieza>
      <precio> 3100 Colones </precio>
      <DetalleDescripcion> Bebida carbonatada que mata lentamente </DetalleDescripcion>
   </platillo>
   <platillo>
      <nombre> Ceviche </nombre>
      <codigo> ENT001 </codigo>
      <tamPorcion>400</tamPorcion>
      <piezasPorPorcion> 2 </piezasPorPorcion>
      <caloriasPorPorcion> 410 kcal </caloriasPorPorcion>
      <caloriasPorPieza> 205 kcal </caloriasPorPieza>
      <precio> 4000 Colones </precio>
      <DetalleDescripcion>Cevichito de la casa, preparado con mariscos frescos y nuestra salsa especial</DetalleDescripcion>
   </platillo>
</menu>